body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*
Part 2: Put the main element (the card's parent container)
into flex mode (display: flex) and adjust the 
justify-content and align-items properties to center the card.
*/
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Part 1: Create some style blocks to style the card. 
    Experiment with: border, padding, margin, height, and width.
*/
.card {
    width: 25%;
    border: solid 1px;
}
img {
    width: 100%;
}

.card p {
    padding: 5%;
}

.card h2 {
    padding: 5%;

}

.card button {
    margin: 5%;
}