/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(213, 232, 232);
}
header, section {
    padding: 20px;
    background-color: #ffdfdf;
    box-sizing: 40px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    padding-top: 40px;
    padding-bottom: 40px;
}

body {
    margin: 0px;
 }
 .container {
    /* fr: fractional units*/
    display: grid;
    grid-template-columns: 2fr 1fr 0.2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
       "header header header header"
       "main main . sidebar"
       "footer footer footer footer";
 }
 
 heading, article, section {
    border: solid 1px #000;
    padding: 10px;
 }
 
 .banner {
    grid-area: header;
 }
 .banner nav ul {
    margin: 8px;
    padding: 0px;
 }
 .banner nav li { 
    display: inline-block; 
 }
 
 .content {
    grid-area: main;
 }
 
 .aside {
    grid-area: sidebar;
 }
 
 .footer {
    grid-area: footer;
 }
 
 .aside > section {
    margin-bottom: 10px;
    padding: 5px;
 }
 
 @media only screen and (max-width: 500px) {
    .container {
       grid-template-columns: 1fr;
       grid-template-areas:
          "header"
          "main"
          "footer";
       line-height: 1.5em;
       font-size: 1.2em;
    }
    .aside {
       display: none;
    }
    .banner, .footer {
       background: #F0F0F0;
    }
    heading, article, section {
       border: none;
       padding: 10px;
    }
    heading h1 {
       margin: 5px;
    }
    .banner nav li { 
       display: block; 
       padding: 3px;
    }
    .banner nav li a { 
       text-decoration: none;
    }
 }
  