body * {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#secret {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 102, 102);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.hide {
    display: none;
}

main {
    max-width: 500px;
}

main img {
    width: 100%;
}

input {
    border: solid 1px #CCC;
    background: #F0F0F0;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 1.1em;
    width: 400px;
}

button {
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 1.1em;
    background: rgb(180, 4, 92);
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: rgb(235, 16, 125);
}