@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20vh 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #CCC;
}


#section1 {
    background: #0c7474;
    color: white;
    transition: all 0.3s ease-out;
}

#section1:hover {
    background: purple;
    width: 220px;
    height: 220px;
}
*/



#section2 {   background: #85a1a1;
    color: white;
    transition: all 0.3s ease-out;}
#section2:hover {  background: rgb(36, 0, 128);
    width: 220px;
    height: 220px;
} 
#section3 {   background: #9abd7a;
    color: rgb(176, 67, 67);
    transition: all 0.3s ease-out;}
#section3:hover {  background: rgb(154, 190, 210);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 220px;
    height: 220px;
} 
*/