div {
    
    border: solid 1px rgb(0, 0, 0);

    display: flex;
    flex-direction: column; background-color: #f1f1f1;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
}
.grid-container {
        padding-right: 40%;    
}

.item-2, .item-4 {
width: 100%;
margin-left: 70%;
}
